@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "Afacad";
	src: url("./assets/fonts/Afacad/Afacad-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Afacad";
	src: url("./assets/fonts/Afacad/Afacad-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Afacad";
	src: url("./assets/fonts/Afacad/Afacad-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Afacad";
	src: url("./assets/fonts/Afacad/Afacad-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Afacad";
	src: url("./assets/fonts/Afacad/Afacad-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

.test {
	font-family: "Afacad", sans-serif;
}

@theme {
	--font-afacad: "Afacad", sans-serif;
}
